body {
    font-family: Arial, sans-serif;
    background: url('../assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.github-btn {
    background: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.customization {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}

.options {
    margin: 10px 0;
}

.upload-area {
    margin: 20px auto;
    padding: 20px;
    border: 2px dashed white;
    display: inline-block;
}

.drop-zone img {
    width: 30px;
}

canvas {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

button {
    background: #d38b65;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

button img {
    width: 20px;
    margin-right: 5px;
}
